extends layout

block content
  h1 The First Bytes Society
  h2 Palatable Programming Education for Everyone.

  h3 The What
  p
    :markdown
        Simply put, First Bytes Society is an organization to make programming education accessible to _everyone_.
        First Bytes focuses on organizing programs and building projects that teach the basic ideas of programming in a palatable way. These
        programs are specifically intended to reach a younger and diverse audience.

  h3 The Why
  p
    :markdown
        We hate the term "talent shortage". First Bytes Society aims to prove that what some would call "talent shortage" is really an "opportunity shortage". We seem to think that if you make great, palatable,
        unintimidating, and fun education
        programs and open them up to a larger audience, at an earlier age, we all stand to benefit. Learning how to
        program isn't just for the "nerds", the A+ students or even for the future computer scientists. It's for everyone.

  h3 The How
  p
    :markdown
        We are currently building our network of partners to launch a brick-and-mortar pilot program in the city of Pittsburgh. We
        are simultaneously working on our open-source, web-based, programming education environment. This tool will be used in our brick and mortar
        classrooms for our curriculum, but the goal is to also make it accessible to the world via this wonderful tool we know as
        the world wide web.

        We have a few [thoughts](https://github.com/firstbytes/firstbytes/blob/master/README.md) when it comes to how early programming
        education should work and these thoughts will guide how we build our tools and curriculum. First Bytes' philosphy when it comes to education
        is to encourage exploration over explanation.

  h3 Feeling our Vibe?
  p
    :markdown
        You should [contact First Bytes](mailto:nate@firstbytes.org) to see how you and or your organization can get involved in our
        mission. If you're interested in donating to First Bytes, you can set up a recurring donation on [gratipay.com](https://gratipay.com/FirstBytes/).

        If you or your child are interested in joining the program, please fill out our [online application](https://docs.google.com/forms/d/1PmSzT4VHlV4cvdMLuAcQC4gwF2IlNHAk4cJ2yF5zzI4/viewform).

  p
    :markdown
        You're still reading? Maybe you should checkout our [Code Education Manifesto](https://github.com/firstbytes/firstbytes/blob/master/README.md) or the beginnings of our
        [Open Source Programming Environment](https://github.com/firstbytes/firstbytes).
