doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(href="http://fonts.googleapis.com/css?family=Codystar", rel="stylesheet", type="text/css")
    script(src='http://localhost:35729/livereload.js')
    style(type='text/css').
        html {
            padding: 0;
        }
        body {padding: 60px 120px;
          font-family: 'Helvetica';
          font-size: 17px}
        h1, h2 {
          font-family: 'Codystar';
          font-size: 72px;
          font-weight: normal;
          margin: 0 0 10px 0;}
        h2 { font-size: 32px;}
        h3 {
            font-size: 24px;
            font-weight: normal;}
        em {
          font-size: 24px;
          font-style: normal;
          line-height: 1}
        span {
          font-size: 12px;}
        a {
          color: #0D4F85;}
        div.forms {
          padding: 0px;margin: 0px;}
        a.apply {
          margin: 0 auto;
          text-decoration: none;
          font-size: 36px;
          display: block;
          background: #333;
          color: #fff;
          padding: 5px 0;
          width: 300px;
          text-align: center;}
        p {
          line-height: 1.5;}

  body
    block content
